<ion-view view-title="Opslagplaats toevoegen">
  <ion-content>
    <form name="storageForm" ng-submit="addStorage(storageForm, storage)" novalidate>
      <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : storageForm.storageName.$invalid}">
        <span class="input-label">Naam</span>
        <input type="text" name="storageName" ng-model="storage.storageName" placeholder="Naam" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Adres</span>
        <input type="text" name="address" ng-model="storage.address" placeholder="Adres">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Gemeente</span>
        <input type="text" name="city" ng-model="storage.city" placeholder="Gemeente">
      </label>

      <button class="button button-block button-dark" align="left">
        Toevoegen
      </button>
    </form>
  </ion-content>
</ion-view>
