<ion-view>
  <ion-content>
    <h3 align="center">Overzicht categorieën</h3>
    <br>
    <ion-list>
      <ion-item class="item-button-right" ng-repeat="categorie in categories">
        <p>{{categorie.Category}}</p>

        <div class="buttons">
          <a class="button button-icon icon ion-ios-trash-outline" style="width: 50px" ng-click="showConfirm($index)"></a>
          <a class="button button-icon icon ion-ios-compose-outline" style="width: 50px" ng-click="edit($index)"></a>
        </div>
      </ion-item>
    </ion-list>
    <button class="button button-block button-dark" ng-click="changePageToAdd()">
      Toevoegen
    </button>
  </ion-content>
</ion-view>
