<ion-view>
<ion-content>
  <br>
  <h3 align="center">Overzicht categorieën</h3>
   <div>
    <!-- <div class="card"> -->
        <!-- <div class="item item-divider">
            Overzicht categorieën
        </div> -->
        <!-- <div class="item item-text-wrap"> -->
            <canvas align="center" height="300" id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-legend="false" chart-options="{showTooltips: false}"></canvas>
        <!-- </div>
    </div> -->
  </div>
    <!-- <div class="card">
        <div class="item item-divider">
            A line chart
        </div>
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="label" chart-legend="true" chart-options="{showTooltips: false}"></canvas>
        </div>
    </div> -->
</ion-content>
</ion-view>
