<ion-view>
  <ion-content>
    <h3 align="center">Categorie aanpassen</h3>
    <br>
    <form name="test" ng-submit="editCat(test, cat)" novalidate>
      <div class="control-group">
        <label class="item item-input item-stacked-label" ng-class="{ 'has-error' : test.catName.$invalid}">
          <span class="input-label">Naam</span>
          <input type="text" name="catName" id="catName" ng-model="cat.catName" placeholder="Naam" required>
        </label>
        <br>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Aantal flessen (Optioneel)</span>
          <input type="text" name="number" ng-model="cat.number" placeholder="Flessen">
        </label>

        <ion-checkbox ng-model="cat.isChecked">Kan gedeeltelijk gevuld zijn.</ion-checkbox>

        <button class="button button-block button-dark" >
          Aanpassen
        </button>
        </div
    </form>
  </ion-content>
</ion-view>
