<ion-view view-title={{cat}}>
  <ion-content class="padding">
    <form name="inventory" ng-submit="editInventory(inventory, invent, inventory)" novalidate>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label"><p>Aantal volle bakken/boxes</p></span>
          <input type="number" ng-model="invent.full" placeholder="Aantal volle bakken/boxes">
        </label>
        <br>
        <div ng-if="optional">
          <label class="item item-input item-floating-label">
            <span class="input-label"><p>Aantal (losse) flessen</p></span>
            <input type="number" ng-model="inventory.half" placeholder="Aantal (losse) flessen" max={{size}}>
          </label>
        </div>
        <br>
        <button class="button button-block button-dark" align="left">
          Toevoegen
        </button>
      </div>
    </form>
    <ion-list>
      <ion-item class="item-button-right">
        Volle bakken: {{fulls}}
        <div class="buttons">
          <a class="button button-icon icon ion-ios-minus-outline" ng-click="showEdit('full')"></a>
          <a class="button button-icon icon ion-ios-trash-outline" ng-click="remove('full')"></a>
        </div>
      </ion-item>
    </ion-list>
    <div ng-if="optional">
      <ion-list>
        <ion-item class="item-button-right">
          Aantal losse flessen: {{halfs}}
          <div class="buttons">
            <a class="button button-icon icon ion-ios-minus-outline" ng-click="showEdit('half')"></a>
            <a class="button button-icon icon ion-ios-trash-outline" ng-click="remove('half')"></a>
          </div>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item class="item-button-right">
          Aantal bakken: {{boxes}}
          <div class="buttons">
            <a class="button button-icon icon ion-ios-minus-outline" ng-click="showEdit('boxes')"></a>
            <a class="button button-icon icon ion-ios-trash-outline" ng-click="remove('boxes')"></a>
          </div>
        </ion-item>
      </ion-list>
    </div>

      <!-- <div>
        <label class="item item-button-right">
          Aantal volle bakken: {{checks}}
          <div class="buttons">
            <button class=" button button-clear icon button-icon ion-ios-compose-outline" ng-click="showEdit('full')"></button>
            <button class=" button button-clear icon button-icon ion-ios-trash-outline" ng-click="remove('full')"></button>
          </div>
         </label>
       </div>
       <div ng-if="halfBoxes">
         <label class="item item-button-right" ng-click="">
           Aantal losse flessen: {{halfs}}
           <div class="buttons">
             <button class=" button button-clear icon button-icon ion-ios-compose-outline" ng-click="showEdit('half')"></button>
             <button class=" button button-clear icon button-icon ion-ios-trash-outline" ng-click="remove('half')"></button>
           </div>
           <div class=" item-button-right" ng-click="">
             Aantal bakken: {{boxes}}
             <div class="buttons">
               <button class=" button button-clear icon button-icon ion-ios-compose-outline" ng-click="showEdit"></button>
             </div>
           </div>
          </label>
        </div> -->

  </ion-content>
</ion-view>
<script id="edit.html" type="text/ng-template">
  <div class="modal">
    <ion-header-bar class="bar-secondary">
      <h1 class="title">Verwijderen</h1>
      <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
    </ion-header-bar>
    <ion-content>
      <form ng-submit="edit()">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="What do you need to do?" ng-model="task.title">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-positive"> Create task </button>
        </div>
      </form>
    </ion-content>
  </div>
</script>
