<ion-view view-title={{cat}}>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label"><p>Aantal volle bakken/boxes</p></span>
        <input type="text" placeholder="Aantal volle bakken/boxes">
      </label>
      <br>
      <label class="item item-input item-floating-label">
        <span class="input-label"><p>Aantal (losse) flessen</p></span>
        <input type="text" placeholder="Aantal (losse) flessen">
      </label>
      <br>
      <button class="button button-block button-dark" align="left">
        Toevoegen
      </button>
    </div>
  </ion-content>
</ion-view>
