<ion-view>
  <ion-content class="padding">
    <h3 align="center">{{cat}}</h3>
    <form name="inventories" ng-submit="editInventory(inventories, invent, test)" novalidate>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label"><p>volle bakken</p></span>
          <input type="number" ng-model="invent.full" placeholder="Aantal volle bakken/boxes">
        </label>
        <br>
        <!-- <div ng-if="optional"> -->
          <label class="item item-input item-stacked-label" ng-show="optional">
            <span class="input-label"><p>losse flessen</p></span>
            <input type="number" ng-model="test.test" placeholder="Aantal (losse) flessen" max={{size}}>
          </label>
        <!-- </div> -->
        <br>
        <button class="button button-block button-dark" align="left">
          Toevoegen
        </button>
      </div>
    </form>
    <ion-list>
      <ion-item class="item-button-right">
        Volle bakken: {{fulls}}
        <div class="buttons">
          <a class="button button-icon icon ion-ios-minus-outline" ng-click="showEdit('full')"></a>
          <a class="button button-icon icon ion-ios-trash-outline" ng-click="remove('full')"></a>
        </div>
      </ion-item>
    </ion-list>
    <div ng-if="optional">
      <ion-list>
        <ion-item class="item-button-right">
          Aantal losse flessen: {{halfs}}
          <div class="buttons">
            <a class="button button-icon icon ion-ios-minus-outline" ng-click="showEdit('half')"></a>
            <a class="button button-icon icon ion-ios-trash-outline" ng-click="remove('half')"></a>
          </div>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item class="item-button-right">
          Aantal bakken: {{boxes}}
          <div class="buttons">
            <a class="button button-icon icon ion-ios-minus-outline" ng-click="showEdit('boxes')"></a>
            <a class="button button-icon icon ion-ios-trash-outline" ng-click="remove('boxes')"></a>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
