<ion-view view-title="Overzicht inventarissen" align="center">
  <ion-content>
    <!-- <div class="list"> -->
    <!-- <div align="center">
      <br>
      <h3 class="title">Categorie toevoegen</h3>
    </div> -->
    <br>
    <ion-list>
      <ion-item class="item-button-right" ng-repeat="inventory in inventories" align="left">
        <p>{{inventory.Date | date:'dd/MM/yyyy'}}</p>
        <a class="button button-icon icon ion-ios-trash-outline" ng-click="showConfirm()"></a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
