<ion-view>
  <ion-content class="padding">
    <!-- <br> -->
    <h3 align="center">Zoeken op datum</h3>
    <br>
    <div align="center">
      <div style="display:inline-block; height:250px;">
        <uib-datepicker icon-prefix="fa" ng-model="date.dt" ng-change="getDate(date)" min-date="minDate" show-weeks="false" custom-class="getDayClass(date, mode)"></uib-datepicker>
      </div>
      </div>

      <br>
      <div ng-show="!details.length" align="center">
        <h5>Er zijn geen inventarissen gemaakt op deze datum.</h5>
      </div>
      <ion-list class="has-header demo-list-icons">
        <div ng-repeat="detail in details">
          <ion-item class="item-icon-left item-button-right" ng-click="toggleGroup(detail)" ng-class="{active: isGroupShown(detail)}">
            <i class="icon" ng-class="isGroupShown(item) ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>
                {{detail.Inventory}}
              <button class="button button-clear button-stable">
                {{detail.TotalBottles}}
              </button>
          </ion-item>
          <ion-item class="item-accordion  item-button-right" ng-repeat="(key, product) in detail.Products" ng-show="isGroupShown(detail)">
            {{key}} <br>
            &nbsp &nbsp- Volle bakken: {{product.full}} <br>
            &nbsp &nbsp- Losse flessen: {{product.half}} <br>
            &nbsp &nbsp &nbsp Verdeeld in: {{product.boxes}} bak(ken)
            <button class="button button-clear button-stable">
              {{product.totalBottlesCat}}
            </button>
          </ion-item>
        </div>
      </ion-list>
    </div>
  </div>

  </ion-content>
</ion-view>
