<ion-view>
  <ion-content>
    <h3 align="center">Opslagplaatsen</h3>
    <br>
    <ion-list>
      <ion-item class="item-button-right" ng-repeat="storage in storages" align="left">
        <p>{{storage.name}}</p>
        <!-- <a class="button button-icon icon ion-ios-trash-outline" ng-click="showConfirm($index)"></a> -->
        <ion-option-button class="button-assertive icon ion-android-delete" style="width: 70px" ng-click="showConfirm($index)">
        </ion-option-button>
        <ion-option-button class="button-stable icon ion-android-create" style="width: 70px" ng-click="edit($index)">
        </ion-option-button>
      </ion-item>
    </ion-list>

    <button class="button button-block button-dark" ng-click="changePageToAdd()">
      Toevoegen
    </button>
  </ion-content>
</ion-view>
