<!-- <ion-view view-title="Dashboard" > -->
<ion-view>
  <ion-content class="padding">
    <h3 align="center">Inventaris toevoegen</h3>
    <span>Datum</span>
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
      <p><b>Kies de gewenste opslagplaats</b></p>
      <ion-scroll direction="y" >
        <div style="max-height: 300px">
          <ion-list style="max-height: 1px;">
            <ion-radio style="height:50px" ng-repeat="storage in storages" class="item-accordion" ng-model="checked.check" value="{{storage.name}}" ng-click="makeInventory(checked)">
              <p>{{storage.name}}</p>
            </ion-radio>
          </ion-list>
        </div>
    </ion-scroll>
  </ion-content>
</ion-view>
