<ion-view>
  <ion-content class="center">

    <button class="button button-block button-dark" class="center" ng-click="excel()">
      Overzicht Excel
    </button>

    <button class="button button-block button-dark" class="center" ng-click="changePagetoSearchCat()">
      Zoeken naar producten
    </button>

    <button class="button button-block button-dark" class="center" ng-click="changePagetoSearchInStorage()">
      Zoeken op datum
    </button>

    <button class="button button-block button-dark" class="center" ng-click="changePagetoCharts()">
      Grafieken
    </button>
  </ion-content>
</ion-view>
