<ion-view>
  <ion-nav-buttons side="left">
        <button class="button" ng-click="$ionicGoBack()"><i class="ion-arrow-left-c"></i> Back</button>
    </ion-nav-buttons>
  <ion-content class="center" on-swipe-right="goBack()" on-swipe-left="goForward()">

        <button class="button button-block button-dark" class="center" ng-click="changePageToCat()">
          Categoriën
        </button>

        <button class="button button-block button-dark" class="center" ng-click="changePage()">
          Inventarissen
        </button>

        <button class="button button-block button-dark" class="center" ng-click="changePageTStorage()">
          Opslagplaatsen
        </button>

        <ion-checkbox ng-model="isChecked.checked" ng-change="changeSettings(isChecked)" class="checkbox-assertive">Waarschuwingen ontvangen</ion-checkbox>

  </ion-content>
</ion-view>
