<!-- <ion-view view-title="Dashboard" > -->
<ion-view view-title="Inventaris toevoegen">
  <ion-content class="padding">
    <span>Datum</span>
      <p class="input-group">
        <input style="width:200px; align=right" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
  </ion-content>
</ion-view>
