<ion-view view-title="Beheer" align="center">
  <ion-content class="center" on-swipe-right="goBack()" on-swipe-left="goForward()">
    <!-- <div class = "row">
      <div class= "col"> -->
        <button class="button button-block button-dark" class="center" ng-click="changePageToCat()">
          Categoriën
        </button>

        <button class="button button-block button-dark" class="center" ng-click="changePage()">
          Inventarissen
        </button>

        <button class="button button-block button-dark" class="center" ng-click="changePageTStorage()">
          Opslagplaatsen
        </button>
      <!-- </div>
    </div> -->

  </ion-content>
</ion-view>
