<ion-view>
  <ion-content class="padding">
    <!-- <br> -->
    <h3 align="center">Zoeken naar producten</h3>
    <!-- <br> -->
      <select style="height: 35px; width: 200px" name="singleSelect" ng-model="data.singleSelect" ng-change="searchInventory(data)">
        <option value ="" selected>Kies een categorie</option>
        <option ng-repeat="category in categories" value="{{category.Category}}">{{category.Category}}</option>
      </select><br>
      <br>

      <div ng-show="!show.length && show" align="center">
        <h5>Dit product is niet meer op voorraad.</h5>
      </div>
      <ion-list class="has-header demo-list-icons">
        <div ng-repeat="item in show">
          <ion-item class="item-icon-left item-button-right" ng-click="toggleGroup(item)" ng-class="{active: isGroupShown(item)}">
            <i class="icon" ng-class="isGroupShown(item) ? 'ion-ios-minus-empty' : 'ion-ios-plus-empty'"></i>
            {{item.Inventory}}
            <button class="button button-clear button-stable">
              {{item.TotalBottles}}
            </button>
          </ion-item>
          <ion-item class="item-accordion item-button-right" ng-show="isGroupShown(item)" ng-repeat="(key, product) in item.Products">
            {{key}} <br>
            &nbsp &nbsp- Volle bakken: {{product.full}} <br>
            &nbsp &nbsp- Losse flessen: {{product.half}} <br>
            &nbsp &nbsp &nbsp Verdeeld in: {{product.boxes}} bak(ken)
            <button class="button button-clear button-stable">
              {{product.totalBottlesCat}}
            </button>
          </ion-item>
        </div>
      </ion-list>
  </ion-content>
</ion-view>
