.center {
  top: 55%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute !important;
  margin:0 auto;
  width:100%;
}

/*Error*/
label.item.has-error {
  border-bottom: 2px solid red;
}

label.item.has-error-lr {
  border-left: 2px solid red;
  border-right: 2px solid red;
}

label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

.form-errors {
  margin: 5px 0
}

.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}

/*ion tab*/
.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    color: red;
}

/*Datepicker*/
.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

.item .row, .item .col {
  padding: 0;
  float: right;
}

/*Accordion list*/
.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
 /*Kalender*/
.full button {
  background-color: limegreen;
  border-radius: 2px;
  color: black;
}
.partially button {
  background-color: orange;
  border-radius: 32px;
  color: black;
}
.glyphicon-chevron-left:before { ion-ios-arrow-left; }
.glyphicon-chevron-right:before { ion-ios-arrow-right; }
